.picture-size {
    border-radius: 300px;
    width: 400px;
    padding: 100px; 
    display: flex;
        justify-content: space-around;
        align-items: center;
        
        color: gray;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        background: rgb(0, 157, 255);

}
.button-previous { 
    align-items: center;
    width: 100px;
    margin-right: ;
    margin-left: 0px;
    margin-top: auto;
    margin-bottom: 100px;
    background: rgb(255, 217, 0);
    
}
.cat {
    text-align: center;
    

}